
<!DOCTYPE html>

<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>{{ App.PageTitle }}</title>

<!-- opengraph -->
<meta property="og:title" content="{{ App.PageTitle }}" />
<meta property="og:type" content="{{Config.og.contenttype }}" />
<meta property="og:url" content="{{currentURL }}" />
<meta property="og:image" content="{{Config.og.image }}" />

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<link rel="stylesheet" href="{{ container.call(['WChat\\Init', 'addurl'], ['css/main.css']) }}">

<script src="https://cdn.jsdelivr.net/npm/jquery@3.7.0/dist/jquery.min.js" referrerpolicy="no-referrer"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="https://cdn.jsdelivr.net/npm/dropzone@6.0.0-beta.2/dist/dropzone-min.min.js"></script>

<link href="https://cdn.jsdelivr.net/npm/dropzone@6.0.0-beta.2/dist/dropzone.min.css" rel="stylesheet">

  
<script src="https://cdn.jsdelivr.net/npm/eruda"></script>
<script>eruda.init();</script>


</head>

<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MH4G76CM"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->  


  {% if session.loggedin == true %}
  <div class=" col-12 w-auto">
  <span>Upload chat file archive</span>
 <form id="UploadChatFile" enctype="multipart/form-data" action="?uploadform=show&submitupload=true" method="POST">
    
   <div class="mb-2 input-group">
  <input name="chatfilearchive" class="form-control form-control-sm form-control-md form-control-lg form-control-xl form-control-xxl" type="file" accept="application/zip" id="chatfilearchive">
  
</div>

<div class="form-floating mb-2">
      <input name="foldername" type="text" class="form-control form-control-sm form-control-md form-control-lg form-control-xl form-control-xxl" id="FolderName" placeholder="Folder Name" required>
      <label for="floatingInput">Folder Name</label>
    </div>
    
<button class="uploadchatfilearchive btn btn-outline-secondary" type="submit" id="uploadchatfilearchive" disabled>Upload</button>

</form>
<span class="chatfilearchivenotice">only .zip, .gz, .rar allowed</span>
</div>
{% endif %}

{% if session.loggedin == false %}
<div>You are not signed in. 
<a class="iframeSignin" href="">Sign In</a>
</div>
{% endif %}

<script src="{{ container.call(['WChat\\Init', 'addurl'], ['assets-js/classes.js']) }}" referrerpolicy="no-referrer"></script>  	

<script src="{{ container.call(['WChat\\Init', 'addurl'], ['assets-js/devmode.js']) }}" referrerpolicy="no-referrer"></script>  	

<script src="{{ container.call(['WChat\\Init', 'addurl'], ['assets-js/uploadchatfiles.js']) }}" referrerpolicy="no-referrer"></script>  	

<script>
SessionLoggedIn = {{~ session.loggedin ~}};
</script>

</body>
</html>  